doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Business Class
    link(rel="stylesheet",href="bower_components/foundation-sites/dist/foundation.min.css")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
  body
    nav.row
      .small-12.medium-12.large-12.columns
        .top-bar
          .top-bar-left
            ul.menu
              li.menu-text
                a(href="#") Swanky Kong
              li
                a(href="#") Home
              li
                a(href="#") About
              li
                a(href="#") Work
              li
                a(href="#") Contact
          .top-bar-right
            ul.menu
              li
                a(href="#")
                  i.fa.fa-facebook
              li
                a(href="#")
                  i.fa.fa-linkedin
              li
                a(href="#")
                  i.fa.fa-google-plus
              li
                a(href="#")
                  i.fa.fa-youtube
              li
                a(href="#")
                  i.fa.fa-twitter
              li
                a(href="#")
                  i.fa.fa-rss          
    header.large
      img.blogheader(src="https://placehold.it/3000x600/0066ff/ffffff?text=Blog+Header", alt="header")
      .row
        .small-8.medium-4.large-4.columns
          ul.menu
            li
              a.button(href="#") Call To Action
            li  
              a.button(href="#") Why Not Now?
        .small-4.medium-8.large-8.columns
          form
            .row
              .medium-9.columns
                label Sign Up For Our Free Newsletter
                input(type="text" Placeholder="Email")
              .medium-3.columns  
                input(type="submit" value="Submit")    
    main.row
      .small-12.medium-8.large-8.columns
        article.row
          .small-12.medium-12.large-12.blog-post
            h1 If you will it, there is no dream.
            date 11/26/2015
            .flex-video.widescreen
              | <iframe width="854" height="480" src="https://www.youtube.com/embed/UWEjxkkB8Xs" frameborder="0" allowfullscreen></iframe>
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quis pariatur debitis optio expedita id nemo dolores odio harum autem ut, enim eius mollitia itaque rem hic atque aperiam unde!
            p Earum, sint. In quo cum ullam maiores doloribus autem quos! Recusandae natus pariatur quas amet numquam eveniet qui obcaecati blanditiis ab voluptate veritatis, voluptatibus, culpa provident maxime praesentium, ex itaque.
            p Inventore illum explicabo, praesentium fugiat consequuntur dolor, dolorum sapiente magni iste quas perferendis aliquid tenetur officia quaerat autem nam officiis ea soluta, quos asperiores consequatur voluptas quod voluptatibus sed. Distinctio.
            article.row
              .small-12.medium-12.large-12
                h1 If you will it, there is no dream.
                date 11/26/2015
                .flex-video.widescreen
                  | <iframe width="854" height="480" src="https://www.youtube.com/embed/UWEjxkkB8Xs" frameborder="0" allowfullscreen></iframe>
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quis pariatur debitis optio expedita id nemo dolores odio harum autem ut, enim eius mollitia itaque rem hic atque aperiam unde!
                p Earum, sint. In quo cum ullam maiores doloribus autem quos! Recusandae natus pariatur quas amet numquam eveniet qui obcaecati blanditiis ab voluptate veritatis, voluptatibus, culpa provident maxime praesentium, ex itaque.
                p Inventore illum explicabo, praesentium fugiat consequuntur dolor, dolorum sapiente magni iste quas perferendis aliquid tenetur officia quaerat autem nam officiis ea soluta, quos asperiores consequatur voluptas quod voluptatibus sed. Distinctio.    
      aside.small-12.medium-4.large-4.columns
        .row
          .small-12.columns
            h3 About
            img.headshot(src="http://fillmurray.com/300/300", alt="")
            p No need for a column
        .row
          .small-12.small-centered.columns
            ul.menu.text-center
              li
                a.button(href="#") Yelp
              li  
                a.button(href="#") Zillow
              li  
                a.button(href="#") Trulia
        .row
          .small-12.columns
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ducimus delectus repellendus natus voluptate quaerat fugit corrupti ipsa reprehenderit voluptatem magni inventore numquam, cupiditate pariatur labore, sapiente odio hic. Veniam!
            p Sequi doloremque quaerat necessitatibus a aut eaque id dolores iste, vel cumque error quos quibusdam mollitia at minus ipsum sed quae inventore ipsam expedita atque excepturi alias. Optio, nesciunt, cumque.
        .row
          .small-12.columns
            form(action="")
              input(type="text")
              textarea(name="Joke", cols="30", rows="10")
              input(type="submit")            
    footer
    //whole 'lot a bullshit
    script(src="bower_components/jquery/dist/jquery.js?hash=03b702824382256abfb4780ad2b7ef3c")
    script(src="bower_components/what-input/what-input.js?hash=e6a8a9adea4d5714575b942e1aef7416")
    script(src="bower_components/foundation-sites/dist/foundation.js?hash=f639113f29a3036a6a087185f4ccc7f0")
    script(src="js/app.js?hash=c1b827affa010fa9e3682899000d8d04")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js")
    script(src='js/script.js')
      
