doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Business Class
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet",href="bower_components/foundation-sites/dist/foundation.min.css")
  body
    header
    nav
    main
      p If you will it there is no dream.
    aside
    footer
    script(src="bower_components/jquery/dist/jquery.js?hash=03b702824382256abfb4780ad2b7ef3c")
    script(src="bower_components/what-input/what-input.js?hash=e6a8a9adea4d5714575b942e1aef7416")
    script(src="bower_components/foundation-sites/dist/foundation.js?hash=f639113f29a3036a6a087185f4ccc7f0")
    script(src="js/app.js?hash=c1b827affa010fa9e3682899000d8d04")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js")
    script(src='js/script.js')
      
